---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/emberjs/ember.js/pulls/3481
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1381095085'
      Last-Modified:
      - Sun, 06 Oct 2013 19:09:00 GMT
      Etag:
      - '"de6361f1b678c935a3f71ba5d386cdde"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/emberjs/ember.js/pulls/3481","id":8649077,"html_url":"https://github.com/emberjs/ember.js/pull/3481","diff_url":"https://github.com/emberjs/ember.js/pull/3481.diff","patch_url":"https://github.com/emberjs/ember.js/pull/3481.patch","issue_url":"https://github.com/emberjs/ember.js/pull/3481","number":3481,"state":"closed","title":"Update
        to the latest ember-dev.","user":{"login":"rjackson","id":12637,"avatar_url":"https://2.gravatar.com/avatar/0dfd10ad198ae5a87640da046a77a90a?d=https%3A%2F%2Fidenticons.github.com%2Fca0226c1b273bb50a210ba4a8db4ce8c.png","gravatar_id":"0dfd10ad198ae5a87640da046a77a90a","url":"https://api.github.com/users/rjackson","html_url":"https://github.com/rjackson","followers_url":"https://api.github.com/users/rjackson/followers","following_url":"https://api.github.com/users/rjackson/following{/other_user}","gists_url":"https://api.github.com/users/rjackson/gists{/gist_id}","starred_url":"https://api.github.com/users/rjackson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rjackson/subscriptions","organizations_url":"https://api.github.com/users/rjackson/orgs","repos_url":"https://api.github.com/users/rjackson/repos","events_url":"https://api.github.com/users/rjackson/events{/privacy}","received_events_url":"https://api.github.com/users/rjackson/received_events","type":"User"},"body":"Major
        new features:\r\n\r\n* Automated multi-branch testing for commits with specially
        formatted\r\n  commit messages (BUGFIX, SECURITY, etc).\r\n* Documentation
        generator via `rake docs` task.\r\n* Automatic publishing of generated docs
        for each build.\r\n* Will wait for the Rack server to be ready for connections
        before\r\n  initiating tests (hopefully mitigates the phantomjs timeout issue)\r\n*
        Will test each package both with and without feature flags.\r\n* Will abort
        tests if `defeatureify` is not present and a\r\n  `features.json` file exists.\r\n*
        Updates to QUnit 1.12.0.\r\n* Updates to use Puma for automated tests.\r\n*
        Many test improvements.","created_at":"2013-09-27T00:49:25Z","updated_at":"2013-09-28T03:19:36Z","closed_at":"2013-09-28T00:53:14Z","merged_at":"2013-09-28T00:53:14Z","merge_commit_sha":"77004394502bd39662c29b43485ef5c03b86a1cd","assignee":null,"milestone":null,"commits_url":"https://github.com/emberjs/ember.js/pull/3481/commits","review_comments_url":"https://github.com/emberjs/ember.js/pull/3481/comments","review_comment_url":"/repos/emberjs/ember.js/pulls/comments/{number}","comments_url":"https://api.github.com/repos/emberjs/ember.js/issues/3481/comments","status_url":"https://api.github.com/repos/emberjs/ember.js/statuses/a8caf4ed7157b22fa3d2248fc14792392625d1f1","head":{"label":"rjackson:update_ember-dev","ref":"update_ember-dev","sha":"a8caf4ed7157b22fa3d2248fc14792392625d1f1","user":{"login":"rjackson","id":12637,"avatar_url":"https://2.gravatar.com/avatar/0dfd10ad198ae5a87640da046a77a90a?d=https%3A%2F%2Fidenticons.github.com%2Fca0226c1b273bb50a210ba4a8db4ce8c.png","gravatar_id":"0dfd10ad198ae5a87640da046a77a90a","url":"https://api.github.com/users/rjackson","html_url":"https://github.com/rjackson","followers_url":"https://api.github.com/users/rjackson/followers","following_url":"https://api.github.com/users/rjackson/following{/other_user}","gists_url":"https://api.github.com/users/rjackson/gists{/gist_id}","starred_url":"https://api.github.com/users/rjackson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rjackson/subscriptions","organizations_url":"https://api.github.com/users/rjackson/orgs","repos_url":"https://api.github.com/users/rjackson/repos","events_url":"https://api.github.com/users/rjackson/events{/privacy}","received_events_url":"https://api.github.com/users/rjackson/received_events","type":"User"},"repo":{"id":12009595,"name":"ember.js","full_name":"rjackson/ember.js","owner":{"login":"rjackson","id":12637,"avatar_url":"https://2.gravatar.com/avatar/0dfd10ad198ae5a87640da046a77a90a?d=https%3A%2F%2Fidenticons.github.com%2Fca0226c1b273bb50a210ba4a8db4ce8c.png","gravatar_id":"0dfd10ad198ae5a87640da046a77a90a","url":"https://api.github.com/users/rjackson","html_url":"https://github.com/rjackson","followers_url":"https://api.github.com/users/rjackson/followers","following_url":"https://api.github.com/users/rjackson/following{/other_user}","gists_url":"https://api.github.com/users/rjackson/gists{/gist_id}","starred_url":"https://api.github.com/users/rjackson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rjackson/subscriptions","organizations_url":"https://api.github.com/users/rjackson/orgs","repos_url":"https://api.github.com/users/rjackson/repos","events_url":"https://api.github.com/users/rjackson/events{/privacy}","received_events_url":"https://api.github.com/users/rjackson/received_events","type":"User"},"private":false,"html_url":"https://github.com/rjackson/ember.js","description":"Ember.js
        - A JavaScript framework for creating ambitious web applications","fork":true,"url":"https://api.github.com/repos/rjackson/ember.js","forks_url":"https://api.github.com/repos/rjackson/ember.js/forks","keys_url":"https://api.github.com/repos/rjackson/ember.js/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rjackson/ember.js/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rjackson/ember.js/teams","hooks_url":"https://api.github.com/repos/rjackson/ember.js/hooks","issue_events_url":"https://api.github.com/repos/rjackson/ember.js/issues/events{/number}","events_url":"https://api.github.com/repos/rjackson/ember.js/events","assignees_url":"https://api.github.com/repos/rjackson/ember.js/assignees{/user}","branches_url":"https://api.github.com/repos/rjackson/ember.js/branches{/branch}","tags_url":"https://api.github.com/repos/rjackson/ember.js/tags","blobs_url":"https://api.github.com/repos/rjackson/ember.js/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rjackson/ember.js/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rjackson/ember.js/git/refs{/sha}","trees_url":"https://api.github.com/repos/rjackson/ember.js/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rjackson/ember.js/statuses/{sha}","languages_url":"https://api.github.com/repos/rjackson/ember.js/languages","stargazers_url":"https://api.github.com/repos/rjackson/ember.js/stargazers","contributors_url":"https://api.github.com/repos/rjackson/ember.js/contributors","subscribers_url":"https://api.github.com/repos/rjackson/ember.js/subscribers","subscription_url":"https://api.github.com/repos/rjackson/ember.js/subscription","commits_url":"https://api.github.com/repos/rjackson/ember.js/commits{/sha}","git_commits_url":"https://api.github.com/repos/rjackson/ember.js/git/commits{/sha}","comments_url":"https://api.github.com/repos/rjackson/ember.js/comments{/number}","issue_comment_url":"https://api.github.com/repos/rjackson/ember.js/issues/comments/{number}","contents_url":"https://api.github.com/repos/rjackson/ember.js/contents/{+path}","compare_url":"https://api.github.com/repos/rjackson/ember.js/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rjackson/ember.js/merges","archive_url":"https://api.github.com/repos/rjackson/ember.js/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rjackson/ember.js/downloads","issues_url":"https://api.github.com/repos/rjackson/ember.js/issues{/number}","pulls_url":"https://api.github.com/repos/rjackson/ember.js/pulls{/number}","milestones_url":"https://api.github.com/repos/rjackson/ember.js/milestones{/number}","notifications_url":"https://api.github.com/repos/rjackson/ember.js/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rjackson/ember.js/labels{/name}","created_at":"2013-08-09T20:05:11Z","updated_at":"2013-10-04T15:55:40Z","pushed_at":"2013-10-04T15:55:36Z","git_url":"git://github.com/rjackson/ember.js.git","ssh_url":"git@github.com:rjackson/ember.js.git","clone_url":"https://github.com/rjackson/ember.js.git","svn_url":"https://github.com/rjackson/ember.js","homepage":"http://www.emberjs.com","size":11210,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"master_branch":"master","default_branch":"master"}},"base":{"label":"emberjs:master","ref":"master","sha":"27093577f626f55590267bd4198e215276112a99","user":{"login":"emberjs","id":1253363,"avatar_url":"https://0.gravatar.com/avatar/792333d2bad390e8a2e23f5e2f41f214?d=https%3A%2F%2Fidenticons.github.com%2Ff8d48ba4cfebb16ac5dbe2b404b30e84.png","gravatar_id":"792333d2bad390e8a2e23f5e2f41f214","url":"https://api.github.com/users/emberjs","html_url":"https://github.com/emberjs","followers_url":"https://api.github.com/users/emberjs/followers","following_url":"[...]
