---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/emberjs/ember.js/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1381619287'
      Etag:
      - '"75814a1c174b0f970f685321474fdc91"'
      X-Github-Media-Type:
      - github.beta; format=json
      Link:
      - <https://api.github.com/repositories/1801829/pulls?page=2>; rel="next", <https://api.github.com/repositories/1801829/pulls?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/emberjs/ember.js/pulls/3577","id":9032813,"html_url":"https://github.com/emberjs/ember.js/pull/3577","diff_url":"https://github.com/emberjs/ember.js/pull/3577.diff","patch_url":"https://github.com/emberjs/ember.js/pull/3577.patch","issue_url":"https://github.com/emberjs/ember.js/pull/3577","number":3577,"state":"open","title":"[FEATURE
        container-renderables] lookup/render templates as well","user":{"login":"machty","id":81818,"avatar_url":"https://2.gravatar.com/avatar/e6138af35a4330451deb308e9db17752?d=https%3A%2F%2Fidenticons.github.com%2Fa071490b596e0cc770ff10b7eb5b2e85.png","gravatar_id":"e6138af35a4330451deb308e9db17752","url":"https://api.github.com/users/machty","html_url":"https://github.com/machty","followers_url":"https://api.github.com/users/machty/followers","following_url":"https://api.github.com/users/machty/following{/other_user}","gists_url":"https://api.github.com/users/machty/gists{/gist_id}","starred_url":"https://api.github.com/users/machty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/machty/subscriptions","organizations_url":"https://api.github.com/users/machty/orgs","repos_url":"https://api.github.com/users/machty/repos","events_url":"https://api.github.com/users/machty/events{/privacy}","received_events_url":"https://api.github.com/users/machty/received_events","type":"User","site_admin":false},"body":"{{some-template}}
        will now attempt to resolve \r\n''template:some-template'' and render it if
        it exists,\r\nas if {{partial ''some-template''}} had been written instead.","created_at":"2013-10-11T17:51:02Z","updated_at":"2013-10-11T18:44:52Z","closed_at":null,"merged_at":null,"merge_commit_sha":"a68f5314b3cf1e744bfb0f4e72acfbcd7f7ef38c","assignee":null,"milestone":null,"commits_url":"https://github.com/emberjs/ember.js/pull/3577/commits","review_comments_url":"https://github.com/emberjs/ember.js/pull/3577/comments","review_comment_url":"/repos/emberjs/ember.js/pulls/comments/{number}","comments_url":"https://api.github.com/repos/emberjs/ember.js/issues/3577/comments","statuses_url":"https://api.github.com/repos/emberjs/ember.js/statuses/a8ec0b29b26498d82e5e0ba8ec2c9dd74c3f42c1","head":{"label":"machty:container-renderables","ref":"container-renderables","sha":"a8ec0b29b26498d82e5e0ba8ec2c9dd74c3f42c1","user":{"login":"machty","id":81818,"avatar_url":"https://2.gravatar.com/avatar/e6138af35a4330451deb308e9db17752?d=https%3A%2F%2Fidenticons.github.com%2Fa071490b596e0cc770ff10b7eb5b2e85.png","gravatar_id":"e6138af35a4330451deb308e9db17752","url":"https://api.github.com/users/machty","html_url":"https://github.com/machty","followers_url":"https://api.github.com/users/machty/followers","following_url":"https://api.github.com/users/machty/following{/other_user}","gists_url":"https://api.github.com/users/machty/gists{/gist_id}","starred_url":"https://api.github.com/users/machty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/machty/subscriptions","organizations_url":"https://api.github.com/users/machty/orgs","repos_url":"https://api.github.com/users/machty/repos","events_url":"https://api.github.com/users/machty/events{/privacy}","received_events_url":"https://api.github.com/users/machty/received_events","type":"User","site_admin":false},"repo":{"id":4018749,"name":"ember.js","full_name":"machty/ember.js","owner":{"login":"machty","id":81818,"avatar_url":"https://2.gravatar.com/avatar/e6138af35a4330451deb308e9db17752?d=https%3A%2F%2Fidenticons.github.com%2Fa071490b596e0cc770ff10b7eb5b2e85.png","gravatar_id":"e6138af35a4330451deb308e9db17752","url":"https://api.github.com/users/machty","html_url":"https://github.com/machty","followers_url":"https://api.github.com/users/machty/followers","following_url":"https://api.github.com/users/machty/following{/other_user}","gists_url":"https://api.github.com/users/machty/gists{/gist_id}","starred_url":"https://api.github.com/users/machty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/machty/subscriptions","organizations_url":"https://api.github.com/users/machty/orgs","repos_url":"https://api.github.com/users/machty/repos","events_url":"https://api.github.com/users/machty/events{/privacy}","received_events_url":"https://api.github.com/users/machty/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/machty/ember.js","description":"Ember.js
        - formerly known as SproutCore 2.0","fork":true,"url":"https://api.github.com/repos/machty/ember.js","forks_url":"https://api.github.com/repos/machty/ember.js/forks","keys_url":"https://api.github.com/repos/machty/ember.js/keys{/key_id}","collaborators_url":"https://api.github.com/repos/machty/ember.js/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/machty/ember.js/teams","hooks_url":"https://api.github.com/repos/machty/ember.js/hooks","issue_events_url":"https://api.github.com/repos/machty/ember.js/issues/events{/number}","events_url":"https://api.github.com/repos/machty/ember.js/events","assignees_url":"https://api.github.com/repos/machty/ember.js/assignees{/user}","branches_url":"https://api.github.com/repos/machty/ember.js/branches{/branch}","tags_url":"https://api.github.com/repos/machty/ember.js/tags","blobs_url":"https://api.github.com/repos/machty/ember.js/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/machty/ember.js/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/machty/ember.js/git/refs{/sha}","trees_url":"https://api.github.com/repos/machty/ember.js/git/trees{/sha}","statuses_url":"https://api.github.com/repos/machty/ember.js/statuses/{sha}","languages_url":"https://api.github.com/repos/machty/ember.js/languages","stargazers_url":"https://api.github.com/repos/machty/ember.js/stargazers","contributors_url":"https://api.github.com/repos/machty/ember.js/contributors","subscribers_url":"https://api.github.com/repos/machty/ember.js/subscribers","subscription_url":"https://api.github.com/repos/machty/ember.js/subscription","commits_url":"https://api.github.com/repos/machty/ember.js/commits{/sha}","git_commits_url":"https://api.github.com/repos/machty/ember.js/git/commits{/sha}","comments_url":"https://api.github.com/repos/machty/ember.js/comments{/number}","issue_comment_url":"https://api.github.com/repos/machty/ember.js/issues/comments/{number}","contents_url":"https://api.github.com/repos/machty/ember.js/contents/{+path}","compare_url":"https://api.github.com/repos/machty/ember.js/compare/{base}...{head}","merges_url":"https://api.github.com/repos/machty/ember.js/merges","archive_url":"https://api.github.com/repos/machty/ember.js/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/machty/ember.js/downloads","issues_url":"https://api.github.com/repos/machty/ember.js/issues{/number}","pulls_url":"https://api.github.com/repos/machty/ember.js/pulls{/number}","milestones_url":"https://api.github.com/repos/machty/ember.js/milestones{/number}","notifications_url":"https://api.github.com/repos/machty/ember.js/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/machty/ember.js/labels{/name}","created_at":"2012-04-13T17:58:52Z","updated_at":"2013-10-12T18:26:07Z","pushed_at":"2013-10-12T16:54:37Z","git_url":"git://github.com/machty/ember.js.git","ssh_url":"git@github.com:machty/ember.js.git","clone_url":"https://github.com/machty/ember.js.git","svn_url":"https://github.com/machty/ember.js","homepage":"http://www.emberjs.com","size":10862,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"master_branch":"master","default_branch":"master"}},"base":{"label":"emberjs:master","ref":"master","sha":"1045e3fc05c065bb6910f7276381c6d4588fc630","user":{"login":"emberjs","id":1253363,"avatar_url":"https://1.gravatar.com/avatar/792333d2bad390e8a2e23f5e2f41f214?d=https%3A%2F%2Fidenticons.github.com%2Ff8d48ba4cfebb16ac5dbe2b404b30e84.png","gravatar_id":"792333d2bad390e8a2e23f5e2f41f214","url":"https://api.github.com/users/emberjs","html_url":"https://github.com/emberjs","followers_url":"https://api.github.com/users/emberjs/followers","following_url":"[...]
